body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}
.header-fix{
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
    border-bottom: 1 px solid #ddd;
    box-shadow: 0 px 3 px 5 px 0 px rgba(0,0,0,0.75);
}
.header-container{
    width: 1024px;
    margin: auto;
}

.header-container h1 a{
    color: inherit;
    text-decoration: none;
}
.container{
    width: 1024px;
    margin: 84px auto 10px;
    border-radius: 5px;
    border: 1 px solid #bbbbbb;
    background-color: #eeeeee;
    padding: 10px;
}
aside{
    float: right;
    width: 25%;
    margin-left: 1%;
    margin-right: 0;
    padding: 10px;
    border-radius: 5px;
    border: 1 px solid #bbbbbb;
    background-color: white;
}
h3{
    margin-bottom: 0px;
}
ul{
    margin-top: 10px;
    font-weight: bold;
}
article{
    text-align: justify;
}
span{
    font-weight: bold;
}
.marginbot50{
    margin-bottom: 50px;
}

form.form-element{
    display: table;
}

form.form-element div{
    display: table-row;
}

form.form-element > span, label, input, select, textarea{
    display: table-cell;
    margin-bottom: 10px;
}

form.form-element label{
    padding-right: 10px;
}

form.form-element .align-right{
    text-align: right;
}
.align-center{
    float: right;
    margin-right: 45px;
}

form.form-element select, textarea{
    width: 100%;
}

form.form-element textarea{
    font-family: Roboto;
    font-size: 0.95em;
    padding: 4px;
    resize: none;
    width:calc(100%-5px);
    border-radius: 5px;
    border: 1px solud rgba(153,153,153,0.9);
    height: 50px;
}

.vertical-top{
    vertical-align: top;
}

.result{
    color: #155724;
    background-color: d4edda;
    border-color: #c3e6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    word-break: break-all;
}
.result ul{
    margin-bottom: 0;
}
span.mandatory{
    color: darkred;
}
img.thumbnail{
    max-width: 250px;
}